body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header {
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 20px;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main section{
    background-color: rgb(222, 222, 223);
    width: 25%;
    min-height:700px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(200, 200, 200, 10);
}

.toDoTasksList h2 {
    color:  #f1356d;
    text-decoration: underline;
    text-decoration-color: black;
}

.doneTasksList h2 {
    color: darkgreen;
}

#taskContent {
    width: 95%;
    height: 200px;
}
.addNewTask {
    box-sizing: border-box;
    color: white;
    background-color: gray;
    width: 25%;
    min-height:400px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgba(200, 200, 200, 10);
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
    transform: translate(0, 0) scale(1, 1);
    /* transform: scale(1,1); */
}

.addNewTask:hover {
    border: 3px solid black;
    box-shadow: 10px 20px 15px rgba(200, 200, 200, 20);
    padding: 13px;
    transform: translate(-30px, -10px) scale(1.05, 1.05) ;
    /* transform: scale(1.1,1.1); */
}


.toDoList li  {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    padding: 5px 0;
    font-family: 'Yellowtail', cursive;
}